@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
} 
<ul data-bind="foreach: instructors">
    <li>
        age:<span data-bind="text: Id"></span> 
        type:<span data-bind="text: Name"></span>
    </li>
</ul> 

<fieldset>
    <legend>post</legend>
    <form data-bind="submit: postInstructor">
        <input data-bind="value: postName" placeholder="name" /><br />
        <button type="submit">post</button>
    </form>
</fieldset> 

@*<fieldset>
    <legend>post</legend>
    <form data-bind="submit: putInstructor">
        <input data-bind="value: putName" placeholder="name" /><br />
        <input data-bind="value: putId" placeholder="id" /><br />
        <button type="submit">put</button>
    </form>
</fieldset> 

 
<fieldset>
    <legend>post</legend>
    <form data-bind="submit: deleteInstructor">
    <input data-bind="value: deleteId" placeholder="what is id of instructor you want to delete?" /><br />
    <button type="submit">delete</button>
</form>
</fieldset> *@

 

@section scripts { 
    <script src="~/Scripts/knockout-2.1.0.debug.js"></script>
    <script src="~/Scripts/Home.js"></script> 
}